n8n_templates/ci-optimized-kakaotalk.json
{
  "name": "CI Optimized KakaoTalk Notification",
  "nodes": [
    {
      "parameters": {
        "path": "ci-kakao-alert",
        "options": {}
      },
      "id": "1",
      "name": "GitHub CI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookMethods": {
        "default": "POST"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "operation": "equal",
              "value2": "success"
            }
          ]
        }
      },
      "id": "2",
      "name": "IF Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://kapi.kakao.com/v2/api/talk/memo/default/send",
        "method": "POST",
        "authentication": "headerAuth",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"template_object\": {\n    \"object_type\": \"text\",\n    \"text\": \"{{$json[\"message\"]}}\\n\\n?뱦 Repo: {{$json[\"repo\"]}}\\n?뙼 Branch: {{$json[\"branch\"]}}\\n?뫀 Author: {{$json[\"author\"]}}\\n?뵢 Run: #{{$json[\"run_number\"]}}\\n\\n{{$json[\"emoji\"]}} {{$json[\"workflow\"]}} ?ㅽ뻾 ?꾨즺\",\n    \"link\": {\n      \"web_url\": \"https://github.com/{{$json[\"repo\"]}}/actions/runs/{{$json[\"run_number\"]}}\",\n      \"mobile_web_url\": \"https://github.com/{{$json[\"repo\"]}}/actions/runs/{{$json[\"run_number\"]}}\"\n    },\n    \"button_title\": \"寃곌낵 ?뺤씤\"\n  }\n}"
      },
      "id": "3",
      "name": "KakaoTalk Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 200],
      "credentials": {
        "httpHeaderAuth": "Kakao API Token"
      }
    },
    {
      "parameters": {
        "url": "https://kapi.kakao.com/v2/api/talk/memo/default/send",
        "method": "POST",
        "authentication": "headerAuth",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"template_object\": {\n    \"object_type\": \"text\",\n    \"text\": \"{{$json[\"message\"]}}\\n\\n?뱦 Repo: {{$json[\"repo\"]}}\\n?뙼 Branch: {{$json[\"branch\"]}}\\n?뫀 Author: {{$json[\"author\"]}}\\n?뵢 Run: #{{$json[\"run_number\"]}}\\n\\n{{$json[\"emoji\"]}} {{$json[\"workflow\"]}} ?ㅽ뻾 ?꾨즺\",\n    \"link\": {\n      \"web_url\": \"https://github.com/{{$json[\"repo\"]}}/actions/runs/{{$json[\"run_number\"]}}\",\n      \"mobile_web_url\": \"https://github.com/{{$json[\"repo\"]}}/actions/runs/{{$json[\"run_number\"]}}\"\n    },\n    \"button_title\": \"寃곌낵 ?뺤씤\"\n  }\n}"
      },
      "id": "4",
      "name": "KakaoTalk Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 400],
      "credentials": {
        "httpHeaderAuth": "Kakao API Token"
      }
    },
    {
      "parameters": {
        "cronExpression": "0 */30 * * * *"
      },
      "id": "5",
      "name": "Every 30min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 600]
    },
    {
      "parameters": {
        "url": "https://kauth.kakao.com/oauth/token",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "grant_type": "refresh_token",
          "client_id": "={{ $json[\"KAKAO_CLIENT_ID\"] }}",
          "refresh_token": "={{ $json[\"KAKAO_REFRESH_TOKEN\"] }}"
        }
      },
      "id": "6",
      "name": "Refresh Token Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 600]
    },
    {
      "parameters": {
        "operation": "set",
        "value": "={{ $json[\"access_token\"] }}",
        "key": "KAKAO_ACCESS_TOKEN"
      },
      "id": "7",
      "name": "Update Token in n8n",
      "type": "n8n-nodes-base.workflowData",
      "typeVersion": 1,
      "position": [600, 600]
    }
  ],
  "connections": {
    "GitHub CI Webhook": {
      "main": [
        [
          {
            "node": "IF Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success?": {
      "main": [
        [
          {
            "node": "KakaoTalk Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "KakaoTalk Failure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Every 30min": {
      "main": [
        [
          {
            "node": "Refresh Token Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token Request": {
      "main": [
        [
          {
            "node": "Update Token in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
