n8n-yago-ai-describe-tags-category-voice-workflow.json
{
  "name": "YAGO VIBE - AI 음성 + 이미지 통합 분석기",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-describe-tags-category-voice",
        "responseMode": "onReceived",
        "responseData": "={{$json}}"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 200],
      "webhookId": "yago-ai-describe-tags-category-voice"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.openai.com/v1/chat/completions",
        "responseFormat": "json",
        "options": {},
        "headerParametersJson": "{ \"Authorization\": \"Bearer {{$env.OPENAI_API_KEY}}\", \"Content-Type\": \"application/json\" }",
        "bodyParametersJson": "={\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"이 이미지는 상품 이미지입니다.\\n음성으로 입력된 상품 설명: \\\"{{$json[\"voiceText\"]}}\\\"\\n\\n위 음성 설명과 이미지를 바탕으로 아래 항목을 JSON으로 생성해줘.\\n1️⃣ 상품을 50자 내외로 설명 (음성 내용 반영).\\n2️⃣ 관련 해시태그 5개 (#형식).\\n3️⃣ 상품 카테고리를 한 단어로 분류 (운동화, 축구화, 유니폼, 글러브, 라켓, 헬멧, 기타 중 하나).\\n출력은 반드시 JSON 형식으로: {\\\"description\\\":\\\"...\\\",\\\"tags\\\":[\\\"#태그1\\\"...],\\\"category\\\":\\\"...\\\"}\"},{\"type\":\"image_url\",\"image_url\":\"{{$json[\"image\"]}}\"}]}],\"max_tokens\":500}"
      },
      "name": "OpenAI Vision + Voice API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "functionCode": "let output = {};\ntry {\n  const parsed = JSON.parse($json[\"choices\"][0][\"message\"][\"content\"]);\n  output.description = parsed.description || '';\n  output.tags = parsed.tags || [];\n  output.category = parsed.category || '기타';\n  output.voiceProcessed = true;\n} catch (e) {\n  output.description = 'AI 분석 실패';\n  output.tags = [];\n  output.category = '기타';\n  output.voiceProcessed = false;\n}\nreturn output;"
      },
      "name": "Extract Description + Tags + Category + Voice",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200,
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Vision + Voice API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision + Voice API": {
      "main": [
        [
          {
            "node": "Extract Description + Tags + Category + Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Description + Tags + Category + Voice": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1.3.0",
  "meta": {
    "instanceId": "yago-vibe-ai-describe-tags-category-voice"
  }
}
