n8n-yago-ai-describe-tags-category-workflow.json
{
  "name": "YAGO VIBE - AI 설명 + 태그 + 카테고리 분류기",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-describe-tags-category",
        "responseMode": "onReceived",
        "responseData": "={{$json}}"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 200],
      "webhookId": "yago-ai-describe-tags-category"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.openai.com/v1/chat/completions",
        "responseFormat": "json",
        "options": {},
        "headerParametersJson": "{ \"Authorization\": \"Bearer {{$env.OPENAI_API_KEY}}\", \"Content-Type\": \"application/json\" }",
        "bodyParametersJson": "={\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"이 이미지는 상품 이미지입니다. 아래 항목을 JSON으로 생성해줘.\\n1️⃣ 상품을 50자 내외로 설명.\\n2️⃣ 관련 해시태그 5개 (#형식).\\n3️⃣ 상품 카테고리를 한 단어로 분류 (운동화, 축구화, 유니폼, 글러브, 라켓, 헬멧, 기타 중 하나).\\n출력은 반드시 JSON 형식으로: {\\\"description\\\":\\\"...\\\",\\\"tags\\\":[\\\"#태그1\\\"...],\\\"category\\\":\\\"...\\\"}\"},{\"type\":\"image_url\",\"image_url\":\"{{$json[\"image\"]}}\"}]}],\"max_tokens\":500}"
      },
      "name": "OpenAI Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "functionCode": "let output = {};\ntry {\n  const parsed = JSON.parse($json[\"choices\"][0][\"message\"][\"content\"]);\n  output.description = parsed.description || '';\n  output.tags = parsed.tags || [];\n  output.category = parsed.category || '기타';\n} catch (e) {\n  output.description = 'AI 분석 실패';\n  output.tags = [];\n  output.category = '기타';\n}\nreturn output;"
      },
      "name": "Extract Description + Tags + Category",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200,
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Vision API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision API": {
      "main": [
        [
          {
            "node": "Extract Description + Tags + Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Description + Tags + Category": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1.2.0",
  "meta": {
    "instanceId": "yago-vibe-ai-describe-tags-category"
  }
}
