n8n-workflows/market-created.json
{
  "name": "Market Created → IF → CF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "market-created"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"price\"]}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "IF",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [520, 200]
    },
    {
      "parameters": {
        "url": "={{$env.FN_MARKET_CREATED}}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "x-internal-key",
                "value": "={{$env.N8N_TOKEN}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "HTTP Request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [760, 160]
    },
    {
      "parameters": {
        "responseBody": "={\"ok\":true}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 260]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": {}
}
