n8n-workflows/payment_completed_slack.json
{
  "name": "Payment Completed → Slack",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "payment-completed"}, "id": "Webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [260, 200]},
    {"parameters": {"channel": "#sales", "text": "=💳 Payment ok: {{$json.orderId}} / {{$json.amount}}원"}, "id": "Slack", "name": "Slack", "type": "n8n-nodes-base.slack", "typeVersion": 1, "position": [520, 200]},
    {"parameters": {"responseBody": "={\"ok\":true}"}, "id": "Respond", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [760, 200]}
  ],
  "connections": {"Webhook": {"main": [[{"node": "Slack", "type": "main", "index": 0}]]}, "Slack": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}},
  "active": false, "settings": {}, "staticData": {}
}
