n8n-workflows/user_created_slack.json
{
  "name": "User Created → Slack",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "user-created"}, "id": "Webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [260, 200]},
    {"parameters": {"channel": "#growth", "text": "=🎉 New user: {{$json.displayName}} <{{$json.email}}>"}, "id": "Slack", "name": "Slack", "type": "n8n-nodes-base.slack", "typeVersion": 1, "position": [520, 180]},
    {"parameters": {"responseBody": "={\"ok\":true}"}, "id": "Respond", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [520, 260]}
  ],
  "connections": {"Webhook": {"main": [[{"node": "Slack", "type": "main", "index": 0}, {"node": "Respond", "type": "main", "index": 0}]]}},
  "active": false, "settings": {}, "staticData": {}
}
