workflows/blog-intent.json
{
  "name": "Blog Intent Automation",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-blog",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "2",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "property": "={{$json[\"intent\"]}}",
        "rules": [
          { "operation": "equal", "value": "blog.create" },
          { "operation": "equal", "value": "blog.list" },
          { "operation": "equal", "value": "blog.get" },
          { "operation": "equal", "value": "blog.update" },
          { "operation": "equal", "value": "blog.delete" }
        ]
      }
    },
    {
      "id": "3",
      "name": "SQLite Insert Blog",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [800, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO blog (title, content, author) VALUES (:title, :content, :author)",
        "database": "./data/market.db"
      }
    },
    {
      "id": "4",
      "name": "SQLite Select All Blogs",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [800, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM blog"
      }
    },
    {
      "id": "5",
      "name": "SQLite Select Blog",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [800, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM blog WHERE id = :id"
      }
    },
    {
      "id": "6",
      "name": "SQLite Update Blog",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [800, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE blog SET title = :title, content = :content, updated_at = CURRENT_TIMESTAMP WHERE id = :id"
      }
    },
    {
      "id": "7",
      "name": "SQLite Delete Blog",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [800, 600],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM blog WHERE id = :id"
      }
    },
    {
      "id": "8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 350],
      "parameters": {
        "responseMode": "lastNode",
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Blog saved!\",\n  \"title\": \"={{$json.payload.title}}\",\n  \"content\": \"={{$json.payload.content}}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Switch Intent", "type": "main", "index": 0 }]] },
    "Switch Intent": {
      "main": [
        [{ "node": "SQLite Insert Blog", "type": "main", "index": 0 }],
        [{ "node": "SQLite Select All Blogs", "type": "main", "index": 0 }],
        [{ "node": "SQLite Select Blog", "type": "main", "index": 0 }],
        [{ "node": "SQLite Update Blog", "type": "main", "index": 0 }],
        [{ "node": "SQLite Delete Blog", "type": "main", "index": 0 }]
      ]
    },
    "SQLite Insert Blog": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "SQLite Select All Blogs": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "SQLite Select Blog": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "SQLite Update Blog": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "SQLite Delete Blog": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
